
.virtualRepeat #vertical-container {
  margin: 0 auto;
}

.virtualRepeat .repeated-item {
  box-sizing: border-box;
  padding-top: 10px;
  height: 40px;
  text-align: center;
}

table {
  min-width: 300px;
  margin: 0 auto;
  border-collapse: collapse;
}

td.left {
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

tr {
  border-bottom: 1px solid #ddd;
}

td.right {
  text-align: right;
  min-width: 160px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

@media screen and (max-width: 600px) {

  table {
    width: 100%;
    magrin: 10px;
  }

  td.left{
    padding-left: 10px;
  }

  td.right{
    padding-right: 10px;
  }

}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  background: rgba(141, 0, 221, 0.5);
  color: rgba(141, 0, 221, 0.5)
}
