md-content
  md-tabs(md-dynamic-height='', md-border-bottom='', md-center-tabs='true', md-no-ink='' md-selected='selectedIndex')
    md-tab(label='Found {{ctrl.foundWords.numItems}}')
      div(class="virtualRepeat")
        md-virtual-repeat-container#vertical-container(style='height: {{windowHeight-110}}px' layout='column')
          table(flex='66')
            tr.repeated-item(md-virtual-repeat='item in ctrl.foundWords', md-on-demand='', flex='')
              td.left
                | {{ item.word}}
              td.right
                | {{item.ts}}
    md-tab(label='Not Found {{ctrl.notFoundWords.numItems}}')
      div(class="virtualRepeat")
        md-virtual-repeat-container#vertical-container(style='height: {{windowHeight-110}}px' layout='column')
          table(flex='66')
            tr.repeated-item(md-virtual-repeat='item in ctrl.notFoundWords', md-on-demand='', flex='')
              td.left
                | {{ item.word}}
              td.right
                | {{item.ts}}




