/**
 * App-wide Styles
 */

.viewport {
  padding-bottom: 40px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

md-chips.md-readonly md-chip {
  padding-right: 10px !important;
  float: none !important;
  display: inline-block !important;
}

@media screen and (max-width: 767px) {
  .w360 {
    min-width: 270px;
  }
}

@media screen and (min-width: 767px) {
  .w360 {
    min-width: 360px;
  }
}

.menuIcon{
  position: absolute;
  top: 16px;
  right: 9px;
}


.fixed-bottom {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}

md-backdrop, md-backdrop + md-sidenav {
  position: fixed !important;
}

md-sidenav {
  padding-bottom: 40px;
}

.disableScroll {
  overflow: hidden;
  position: fixed;
  right: 0px;
  left: 0px;
}

md-icon:hover{
  color: #ee4545;
}

md-input-container.md-has-icon.icon-right {
  padding-left: 0px;
}

md-input-container.md-has-icon.icon-right md-icon {
  right: 3px;
  left: inherit;
  cursor: pointer;
}

.md-button.left-align > a{
  text-transform: none;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.word {
  margin-bottom: 7px;
}

md-menu-item.active {
  color: rgb(255, 64, 129);
}

md-menu-item.active md-icon {
  color: rgb(255, 64, 129);
}

/*.toolbar-left-part{*/
  /*min-width: 304px;*/
  /*min-height: 100%;*/
/*}*/

