/**
 * App-wide Styles
 */
@import '../bower_components/components-font-awesome/css/font-awesome.min.css';

.viewport {
  padding-bottom: 40px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

md-chips.md-readonly md-chip {
  padding-right: 10px !important;
  float: none !important;
  display: inline-block !important;
}

@media screen and (max-width: 767px) {
  .w360 {
    min-width: 270px;
  }
}

@media screen and (min-width: 767px) {
  .w360 {
    min-width: 360px;
  }
}

@media only screen and (min-width: 960px){
  md-tooltip{
    font-size: 12px;
  }

}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .toolbar-custom-class {
    min-height: 64px;
    height: 64px;
    max-height: 64px;
  }

  md-toast{
    position: fixed;
    top: 0px;
    bottom: 0px;
    max-height: 60px;
  }

  .md-toast-content{
    width: 25%;
    top: 7px;
    position: fixed;
    right: 8px;
  }
  md-tooltip{
    font-size: 12px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .toolbar-custom-class {
    min-height: 58px;
    height: 58px;
    max-height: 58px;
  }

  .istorija-button{
    font-weight: 200;
    font-size: 15px;
  }

  md-toast{
    position: fixed;
    top: 0px;
    bottom: 0px;
    max-height: 60px;
  }

  .md-toast-content{
    width: 30%;
    top: 4px;
    position: fixed;
    right: 8px;
  }

}

md-autocomplete md-input-container.md-has-icon > label {
 left: 0;
}

md-autocomplete.icon-right md-input-container.md-has-icon {
  padding-left: 0;
}

md-input-container.md-has-icon.icon-right md-icon,
.md-has-icon md-input-container md-icon {
  right: 0;
  left: inherit;
  cursor: pointer;
  float: right;
  top: 6px;
  position: absolute;
}

.md-button.left-align > a{
  text-transform: none;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.word {
  margin-bottom: 7px;
}

md-menu-item.active {
  color: black;
}

md-menu-item.active md-icon {
  color: #3f51b5;
}


#left-nav{
  margin: 10px;
  margin-right: 2px;
}

.md-button.sandwich{
  height: 26px;
  width: 30px;
  border-radius: 0;
  margin-right: 15px;
}

.menuIcon{
  position: relative;
  top: 1px;
  right: -6px;
}

.empty-history{
  position: relative;
  outline: none;
  border: 0;
  display: inline-block;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  margin: 20px 8px;
  line-height: 36px;
  min-height: 36px;
  background: transparent;
  white-space: nowrap;
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: default;
  overflow: hidden;
}

.md-content-style{
  margin: 10px;
}


.trinti-istorija{
  margin-bottom: 20px;
  width: 80%;
}

.cust-small-tall{
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  z-index: 9999;
}


/* Gray screen overlaying toolbar. Not working on Ipad */

div > md-backdrop {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 1000px !important;
}

/* for Computers. Effect: cannot swipe the main window */

body{
  overflow: hidden;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


/* Disabling scrolling on Ipad when sidenav is opened */

.scrollDisable{
  overflow-y:hidden;
  height:100%;
}

#delete:hover{
  color: #dd2c00;
}

md-toast .md-toast-content{
  background-color: #383434;
  border: 1px solid black;
  text-align: center;
}

.istorija-button{
  top:1px;
  color: white !important;
}

.footer-text{
  color: white;
  font-weight: 400;
}

.footer-main-text{
  color: white;
}

.md-chips:not(.md-readonly) {
  cursor: default;
}



/* custom classes for md-tooltip */


md-tooltip{
  position:absolute;
  z-index:100;
  overflow:hidden;
  pointer-events:none;
  border-radius:4px;
  font-weight:500;
  font-size:14px
}

md-tooltip .md-content{
  position:relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  -webkit-transform-origin:center top;
  transform-origin:center top;
  -webkit-transform: none;
  transform: none;
  opacity: 0;
  height: 30px;
  line-height:30px;
  padding-left:10px;  /* ostavit */
  padding-right:10px; /* ostavit */
}

/*show*/

md-tooltip.md-show{
  transition: none !important;
  will-change: auto !important;
  pointer-events: auto !important; /* WARNING */
}

md-tooltip .md-content.md-show,md-tooltip .md-content.md-show-add-active{
  -webkit-transform: none;
  transform: none;
  opacity:1;
  -webkit-transform-origin:center bottom;
  transform-origin:center top;
}


md-tooltip .md-content.md-show-add{
  transition: none !important;
  transition-duration:.0s;
  -webkit-transform: none !important;
  transform: none !important;
}

/*hide*/


md-tooltip .md-content.md-show-remove{
  transition: none !important;
  transition-duration:.0s;
  display: none;
}

md-tooltip.md-hide{
  transition: none !important;
  display: none;
}

md-tooltip .md-content.md-show-remove.md-show-remove-active{
  -webkit-transform: scale(4.5) !important;
  transform: scale(4.5) !important;
  opacity:1;
}

.hideSearchWords{
  display: none;
}

/* md-autocomplete */



md-autocomplete[md-floating-label] md-autocomplete-wrap {
  height: 90px;
}
