md-toolbar.md-small-tall.md-toolbar-tools.toolbar-custom-class( style='padding-left:0px')
  md-menu
    md-button.md-icon-button.sandwich(aria-label='Open menu' ng-click='$mdOpenMenu()' md-no-ink)
      md-icon.menuIcon( md-svg-icon='navigation:menu')
    md-menu-content(width=4)
      md-menu-item(ng-repeat='item in ctrl.navs' ui-sref="{{item.sref}}" ui-sref-active="active")
        md-button
          md-icon(md-menu-align-target='' md-svg-icon='{{item.icon}}')
          span {{item.title}}
  h3.footer-main-text Kirčiavimas internetu
    p.hideSearchWords
      strong
        | Kirciavimas, Kirčiavimas, internetu, internete,
        | programa, Ipad, Iphone, Ipod, andorid, mobilioji programa,
        | Sukirciuoti, Sukirčiuoti, Nemokamai, be reklamos, kirtis, Kirtis,
        | Kirčiuoklė, Kirciuokle, kirtis.info
  span.flex
  md-button.md-primary.istorija-button(ng-repeat="nav in ctrl.subNavs" ng-click="nav.clickFn()" ng-class="nav.class" md-no-ink)
    | {{nav.title}}

