#forkongithub a{
  background: #3f51b5;
  color: #fff;
  text-decoration: none;
  font-family: arial,sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  transition:0.5s
}

#forkongithub a:hover{
  background: #403f91;
  color:#fff
}

#forkongithub a::before,#forkongithub a::after{
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff
}

#forkongithub a::after{
  bottom: 1px;
  top: auto
}

@media screen and (min-width: 800px){
  #forkongithub{
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height:200px;
    z-index:9999
  }
  #forkongithub a{
    width:229px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);}
}

.mainText{
  text-align: justify;
  margin: 20px;
  margin-top: 0px;
  font-size: 18px;
}

.wrapper{
  margin: 10px;
}
.button-git{
  padding: 0 5px;
  padding-top: 4px;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top,#fcfcfc,#eee);
  background-image: -moz-linear-gradient(top,#fcfcfc,#eee);
  background-image: linear-gradient(to bottom,#fcfcfc,#eee);
  display: inline-block;
  height: 25px;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  text-decoration: none;
}

a:visited{
  color: black;
}

.button-git:hover{
  color: #4078C0;
}
.git-button{
  float: left;
  padding-right: 5px;
  line-height:21px !important
}
