md-content(layout-padding)
  p This page should say something about the site creators and pay respect to the KLC
  p It should also state it's build upon educational purpose and list used technologies
  p Open source has to be declared, and a link to the gihtub provided
