md-subheader.md-primary Apie kirtis.info

md-content(layout-padding layout='column' layout-align='start center')
  p This page should say something about the site creators and pay respect to the KLC
  p It should also state it's build upon educational purpose and list used technologies
  p Open source has to be declared, and a link to the gihtub provided
