div(layout='row', ng-controller='AppCtrl', style='min-height:100%')
  md-content(flex='', layout='row', layout-fill='')
    .side-a(flex='', layout-fill='')
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
    .middle(flex='', layout-fill='')
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
      p this content should scroll together
  md-sidenav.md-sidenav-left.md-whiteframe-z2.side-b(layout-fill='', flex='', layout='column', md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')")
    | A fixed sidenav
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.
    p this scrolls inside. That's good.

div
  md-button(md-raised ui-sref='main.about.test' ng-click='ctrl.filterSearchedWords()') Click me
  div(ui-view='')


