
.viewport{
  padding: 0px;
  overflow: scroll;
}



.chart-container{
  text-align: center;
}

.main-wrap{
  margin: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 1000px) {

  .custom-style{
    margin: 3px;
    padding: 3px;
  }

  div .charts-wrapper{
    display: inline;
    justify-content:center;
    align-items:center;
    width: 98%;
  }

  div.main-wrap div.charts-wrapper .md-subheader{
    font-size: 15px;
  }

}

div.charts-wrapper .md-subheader{
  font-size: 20px;
}


.charts-wrapper{
  width: 70%;
  margin: 0 auto;
}


