
.main-wrap {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/* Captions */
div.charts-wrapper .md-subheader {
  font-size: 20px;
}

.charts-wrapper {
  width: 80%;
  margin: 0 auto;
}

.custom-style {
  margin: 3px;
  padding: 3px;
}

/* Media Files */

@media screen and (max-width: 900px) {

  div .charts-wrapper {
    width: 97%;
  }

  .custom-style{
    margin: 3px;
    padding: 3px;
  }

  div.charts-wrapper .md-subheader {
    font-size: 15px;
  }

}


