div(ng-controller='ShellCtrl' ng-cloak ng-app='stklcApp').main-shell
  md-toolbar(layout='row' layout-align='space-around start')
    h3(class='md-toolbar-tools') Kirčiavimo programa
    md-button(class='md-icon-button' arial-label='Settings')

  form(name='wordInputForm')
    md-input-container(layout='column' layout-align='center center')

      div(class='wrapper')

        div(layout='column')

          div(layout='row' layout-align='start center')
            label(layout-margin) Sukirčiuoti žodį
          input(ng-model='ctrl.wordInput' md-minlength='1' md-maxlength='30' name='word' aria-label='Input' layout-margin flex)
          div(ng-messages='wordInputForm.word.$error' role='alert' multiple flex layout-margin lauout-align='start center' layout='row')
            div(ng-message='md-maxlength' class='my-message') Žodžio ilgis turi būti mažiau, nei 30 simbolių

        div(layout='column')
          md-button(class='md-raised md-primary' ng-click='ctrl.kirciuoti()') Kirčiuoti

        div(layout='column' layout-align='center center' layout-margin layout-padding)

          div(ng-repeat='item in ctrl.data' layout-margin)

            div(layout-margin layout='column' layout-align='start start')
              p
                strong {{ item.word }}
                | &nbsp;
                em ({{ item.class }})
              md-chips.md-readonly(ng-model='item.state' readonly='true' layout='column')
                md-chip-template(class='data')
                  | {{$chip}}
        //div(class='notFound md-whiteframe-1dp' layout-margin layout-padding)
        //  p Žodis nerastas


  md-toolbar(layout='row' layout-align="center center")
    span(class='md-subhead') © UAB Sistemium 2015


  md-button( class='md-raised' ng-click="app.showSimpleToast()") Show Custom


