div(layout='column' ng-cloak='')
  md-content(md-theme = 'docs-dark' layout-padding = '' layout = 'row' layout-sm = 'column')
    md-input-container
     div(class='inputDataWrapper')
       label Sukirčuoti žodį:
       input(type='text' ng-model='ctrl.wordInput' minlength='4')
       
    md-button(class="md-raised" ng-click="ctrl.kircuoti()") Kirčiuoti
md-list
  md-subheader.md-no-sticky Sukirčuotas tekstas
  md-list-item.md-3-line(ng-repeat='item in ctrl.data')
    .md-list-item-text(layout='column')
      h3 {{ item.word }}
      h4 {{ item.class }}
      p {{ item.state.length }}
  p {{ ctrl.errMsg }}
